@import "normalize";
@import "flat-ui";
@import "nprogress";
@import "compass";
@import "compass/css3/user-interface";

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


html {
    background: #34495e;
}

body {
    width:90%;
    margin:0 auto;
    min-height:600px;
    color: #edeff1;
}

.chat {
    text-align:center;
    width:865px;
    margin:0 auto;
    @include box-sizing(border-box);
    padding:100px 0;
    min-height:0;   
    @include transition(all 0.4s ease-in);
}

.chat-container .login-field:focus + .login-field-icon {
  color: #3498db;
}

.chat-icon {
    width: 96px;
    text-align:left;
    @include inline-block;
    vertical-align:top;
    img {
        display: block;
        margin-bottom: 6px;
        width: 100%;
    }
    h4 {
        font-size: 17px;
        font-weight: 200;
        line-height: 34px;
        @include opacity(0.95);
    }
    small {
        color: inherit;
        display: block;
        font-size: inherit;
        font-weight: 700;
    }
}

.chat-container {
    .expanded & {
        height:500px;
    }
    text-align:left;
    width:445px;
    min-height:130px;
    @include inline-block;
    margin-left: 20px;
    position:relative;
    @include transition(all 0.4s ease-in);
    background-color: #edeff1;
    padding: 24px 23px 20px;
    border-radius: 6px;

    &:before {
        content: '';
        border-style: solid;
        border-width: 12px 12px 12px 0;
        border-color: transparent #edeff1 transparent transparent;
        height: 0;
        position: absolute;
        left: -12px;
        top: 35px;
        width: 0;
        -webkit-transform: rotate(360deg);
    }
    .form-group {
        width:50%;
        float:left;
    }
    .login-field {
        border-color: transparent;
        width:90%;
        font-size: 17px;
        text-indent: 3px;
    }
    .login-field-icon {
        color: #bfc9ca;
        font-size: 16px;
        position: absolute;
        right: 13px;
        top: 11px;
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        -o-transition: 0.25s;
        transition: 0.25s;
        -webkit-backface-visibility: hidden;
    }
}


/* ==========================================================================
   Modules
   ========================================================================== */

#loginForm {
    display: none;
    
    .hostname {
        width:60%;
        margin-right:5%;
    }

    .port {
        width:30%;
        .login-field-icon {
            right:0px;
        }
    }

    .username {
        width:60%;
        margin-right:5%;
    }    

    .login-button-container {
        width:30%;
        margin-bottom:0;
    }

    .error {
        display:none;
        background: #c0392b;
        color: #fff;
        border-radius:5px;
        padding: 10px;
        p {
            padding:0;
            margin: 0;
            font-size: 14px;
        }
    }
    .form-fieldset {
        overflow:hidden;
    }
    .login-button {
        width:90%;
        padding: 12px 15px 13px;
        display:block;
        text-align: center;
        margin: 0 auto;
    }
    .default-server {
        margin-top:5px;
        width:100%;
        text-align:center;
        color:#2c3e50;
    }
    .checkbox {
        margin-left: 4px;
    }
    .login-link {
        color: #bfc9ca;
        display: block;
        font-size: 13px;
        margin-top: 15px;
        text-align: center;
    }
}
%message {
    width:543px;

}
#board {
    display:none;
    color: #34495e;
    width:428px;
    overflow:hidden;
    .room {
        margin:0;
        padding:0;
        height:400px;
        overflow-y: scroll;
    }
    .room::-webkit-scrollbar { 
        display: none; 
    }
    .room li {
        list-style: none;
    }
    .controlMessage {
        border-top: 1px dotted #bdc3c7;
        padding-top:5px;
        margin-bottom: 25px;
        font-size:13px;
        line-height: 1.4;
        font-weight:bold;
    }
    .msgContainer {
        margin-bottom: 25px;
        .avatar {
            overflow:visible;
            width:65px;
            height:66px;
            background: url('../images/icons/png/person.png');
            position:relative;
            float:right;
        }
        .avatar.mine {
            float:left;
        }
        .avatar.fox {
            background: url('../images/icons/png/fox.png');
        }
        .nick {
            width:65px;
            position:absolute;
            text-align:center;
            left:0;
            bottom:-18px;
            font-weight:bold;
            font-size:13px;
            overflow:hidden;
            text-overflow: ellipsis;
        }
        .message {
            width:363px;
            float:right;
            text-align:right;
            .bubble {
                min-width:35px;
                margin-top: 10px;
                background: #34495e;
                padding:10px;
                border-radius: 5px;
                color: #fff;
                position:relative;
                overflow:visible;
                margin-left: 0px;
                margin-right: 10px;
                text-align:left;
                @include inline-block;
            }
            .bubble:before {
                content: '';
                border-style: solid;
                height: 0;
                position: absolute;
                border-color: transparent #34495e transparent transparent;
                width: 0;
                border-width: 7px 7px 7px 0;
                right: -6px;
                top: 10px;
                @include transform(rotate(180deg));
            }
        }
        .info {
            font-size:12px;
            position: absolute;
            left:4px;
            bottom:-16px;
            color: #34495e;
        }
        .message.mine {
            float:left;
            text-align:left;
            .bubble {
                margin-left: 10px;
                margin-right: 0px;
            }
            .bubble:before {
                border-width: 7px 7px 7px 0;
                left: -6px;
                top: 10px;
                @include transform(rotate(360deg));
            }
            .info {
                left:auto;
                right:4px;
            }
        }     
    }
}

#shouter {
    display:none;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 15px;
    .message-field {
        width:95%;
    }
    label {
        cursor:pointer;
        &:hover {
            color: #3498dc;
        }
    }
}

#loading {
  text-align:center;
}

#loading .spinner {
  @include inline-block;
}

#userlist {
    background: #293d50;
    width:200px;
    margin-left:10px;
    min-height:100px;
    border-radius: 6px;
    display:none;
    h4 {
        margin-top:0;
        padding-top:15px;
        padding-left:10px;
        font-size:14px;
        font-family:'Lato';
        font-weight:300;
    }
    .list {
        list-style:none;
        padding:0;
        margin:0;
        margin-bottom:10px;
        padding-bottom:10px;
    }
    .user {
        background: url('../images/icons/png/silhouette_small.png') no-repeat 10px center; 
        vertical-align:top;
        padding:5px 35px;
        font-size:13px;
        cursor:pointer;
        @include user-select(none);
        overflow:hidden;
        text-overflow: ellipsis;
    }
    .user.fox {
        background: url('../images/icons/png/fox_small.png') no-repeat 10px center;
    }
    .user:hover {
        background-color: #3498db;
    }
}

.aside {
    vertical-align: top;
    text-align: left;
    display:inline-block;
}

#logoutbutton {
    display:none;
    margin-left:10px;
    .logout {
        font-size:12px;
        padding: 6px 9px 7px;
    }
}


@media screen and (max-width: 768px) {
    #board {
        width:244px;
        .messages {

        }
        .msgContainer {
            .message {
                width:169px;
            }
        }
    }
    #loginForm {
        .error {
            margin-top:10px;
        }
    } 
    .login-button {
        width:auto;
    }
    .chat {
        .clearfix {
            height:auto;
        }
        height:auto;
        width:400px;
        .form-group {
            width:100%;
        }
        .port {
            .login-field-icon {
                right:13px;
            }
        }
    }
    #shouter {
        .message-field {
            width:90%;
        }
    }
}

@media screen and (max-width: 480px) {
    #board {
        width:100%;
        .messages {

        }
        .msgContainer {
            .message {
                width:65%;
            }
        }
    }
    .chat {
        padding:25px 0;
        width:90%;
        .chat-container-button-container {
            .login-button {
                width:auto;
            }
        }
    }
    .login-icon {
        width:100%;
        float:none;
        img {
            width: 85px;
            float:left;
            margin-right:20px;
        }
    }
    .chat-container {
        @include box-sizing(border-box);
        width:100%;
        margin:35px 0;
        &:before {
            display:none;
        }
        .form-group {
            width:100%;
        }
    }
}
