@import "normalize";
@import "flat-ui";
@import "nprogress";
@import "compass";

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


html {
    background: #34495e;
}

body {
    width:90%;
    margin:0 auto;
    min-height:600px;
}

.login {
    padding:0;
    margin:0;
    width:100%;
}

.chat {
    width:600px;
    margin:0 auto;
    @include box-sizing(border-box);
    padding:100px 0;
    min-height:0;   
    @include transition(all 0.4s ease-in);
}

.login-icon {
    float:left;
}

.expanded {
    width:800px;
    .chat-container {
        height:500px;
    }
}

.chat-container {
    margin-left: 126px;
    position:relative;
    overflow:hidden;
    @include transition(all 0.4s ease-in);

    .form-fieldset {
        overflow:hidden;
    }
    .hostname {
        width:60%;
        margin-right:5%;
    }
    .port {
        width:30%;
        .login-field-icon {
            right:0px;
        }
    }
    .username {
        width:60%;
        margin-right:5%;
    }
    .login-button-container {
        width:30%;
        margin-bottom:0;
        .login-button {
            width:90%;
            padding: 12px 15px 13px;
        }
    }
}

.default-server {
    margin-top:5px;
    width:100%;
    text-align:center;
    color:#2c3e50;
    label {
        margin-left: 4px;
    }
}

.login-button {
    width:60%;
}

@media screen and (max-width: 768px) {
    #loginForm {
        .error {
            margin-top:10px;
        }
    } 
    .login-button {
        width:auto;
    }
    .chat {
        .clearfix {
            height:auto;
        }
        height:auto;
        width:400px;
        .form-group {
            width:100%;
        }
        .port {
            .login-field-icon {
                right:13px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .chat {
        padding:25px 0;
        width:90%;
        .chat-container-button-container {
            .login-button {
                width:auto;
            }
        }
    }
    .login-icon {
        width:100%;
        float:none;
        img {
            width: 85px;
            float:left;
            margin-right:20px;
        }
    }
    .chat-container {
        @include box-sizing(border-box);
        width:100%;
        margin:35px 0;
        &:before {
            display:none;
        }
        .form-group {
            width:100%;
        }
    }
}


.form-group.username {
}

.form-group.username input {

}

.login-button {
    display:block;
   text-align: center;
    margin: 0 auto;
}

/* ==========================================================================
   Modules
   ========================================================================== */

#loginForm {
    display: none;
    .error {
        display:none;
        background: #c0392b;
        color: #fff;
        border-radius:5px;
        padding: 10px;
        p {
            padding:0;
            margin: 0;
            font-size: 14px;
        }
    }
}

